<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.clarius.sdk.mobileapi.example">

    <queries>
        <package android:name="me.clarius.clarius" />
        <package android:name="me.clarius.clarius.hotfix" />
        <package android:name="me.clarius.clarius.release" />
        <package android:name="me.clarius.clarius.develop" />
        <package android:name="me.clarius.clarius.develop.developer.debug" />
    </queries>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_activity_title">
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="me.clarius.sdk.mobileapi.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>